LittlePlace.WPClient.UI/SampleData/FriendViewDataSource/FriendViewDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.FriendViewDataSource" targetNamespace="Expression.Blend.SampleData.FriendViewDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FriendViewDataSource" type="tns:FriendViewDataSource" />
  <xs:complexType name="FriendViewDataSource">
    <xs:sequence>
      <xs:element name="Friends" type="tns:Friends" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Friends">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="FriendsItem" type="tns:FriendsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FriendsItem">
    <xs:attribute blend:Format="Name" name="Login" type="xs:string" />
    <xs:attribute name="Photo" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>